.top-padding{
	position: relative !important;
}
.image-width{
	width: 291px;
  height: 200px;
}
.action-margin{
	margin-left: 10px;
}
.wrap{
	word-wrap: break-word;
}
.card .card-action {
 padding: 6px !important;
}